# Python for Data Engineering

### Introduction
Introduction to Python programming for beginners.
- Basic Syntax
- Variables
- Data Types
- Functions
- OOP

In [2]:
message = "Hello, Data Engineering!"
print(message)

Hello, Data Engineering!

In [3]:
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [4]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

### String Concatenation

In [5]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name.title())

Ada Lovelace

### Adding Whitespace to Strings with Tabs or Newlines

In programming, whitespace refers to any nonprinting character, such as
spaces, tabs, and end-of-line symbols. You can use whitespace to organize
your output so it’s easier for users to read.
- To add a tab to your text, use the character combination \t 
- To add a newline in a string, use the character combination \n

In [6]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

### Stripping Whitespace 
Extra whitespace can be confusing in your programs. To programmers
‘python’ and ‘python ' look pretty much the same. But to a program, they
are two different strings. Python detects the extra space in 'python ' and
considers it significant unless you tell it otherwise. Python can look for extra whitespace on the right and left sides of a string. To ensure that no whitespace exists at the right end of a string, use
the rstrip() method.

In [7]:
favourite_language = "python "

print(favourite_language.rstrip())

python

### Numbers
Numbers are used quite often in programming to keep score in games, represent data in visualizations, store information in web applications, and so
on. Python treats numbers in several different ways, depending on how they
are being used.

#### Integers 
You can add (+), subtract (-), multiply (*), and divide (/) integers in Python.

In [12]:
## Addition
2 + 3

5

In [13]:
## Subtraction
3-2

1

In [14]:
## Multiplication
2 * 3

6

In [15]:
## Division
3 /2

1.5

In [16]:
## Exponent
3 ** 2

9

Python supports the order of operations too, so you can use multiple
operations in one expression. You can also use parentheses to modify the
order of operations so Python can evaluate your expression in the order
you specify.

In [17]:
2 + 3*4 - 6 / 3

12.0

#### Floats
Python calls any number with a decimal point a float. This term is used in most programming languages, and it refers to the fact that a decimal point can appear at any position in a number.

In [18]:
0.1 + 0.1

0.2

In [21]:
0.2 + 1

1.2

In [20]:
2 * 0.1

0.2

### Avoiding Type Errors with the str() Function
Often, you'll want to use a variable’s value within a message.

In [22]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

### Lists
A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0-9, or the names of
all the people in your family.

In [23]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### Accessing Elements in a List 
Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. To access an element in a list, write the name of the list followed by the index of the item
enclosed in square brackets.

In [25]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

#### Index Positions Start at 0, Not 1 
Python considers the first item in a list to be at position 0, not position 1,
This is true of most programming languages, and the reason has to do with
how the list operations are implemented at a lower level. If you’re receiving
unexpected results, determine whether you are making a simple off-by-one
error.
The second item in a list has an index of 1. Using this simple counting
system, you can get any element you want from a list by subtracting one
from its position in the list. For instance, to access the fourth item in a list,
you request the item at index 3.

In [26]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [27]:
# Returning the last element in a list
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [29]:
# Using individual Values from a List
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

### Modifying Elements in a List
The syntax for modifying an element is similar to the syntax for accessing
an element in a list. To change an element, use the name of the list followed
by the index of the element you want to change, and then provide the new
value you want that item to have.

In [31]:
# Changing Value of the first item of a list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [32]:
# Adding elements to a List
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [33]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
# Inserting Elements into a List (Positions)
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [35]:
# Removing Elements from a list
# Removing an Item Using the del Statement
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

In [36]:
# Removing an Item Using the pop() Method
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [38]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [39]:
# Popping Items from any Position in a List
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print("The first motorcycle I owned was a " + first_owned.title() + ".")

The first motorcycle I owned was a Honda.

In [40]:
# Removing an Item by Value
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

### Organizing a List
Often, your lists will be created in an unpredictable order, because you can’t
always control the order in which your users provide their data. Although
this is unavoidable in most circumstances, you'll frequently want to present
your information in a particular order. Sometimes you'll want to preserve the
original order of your list, and other times you'll want to change the original order. Python provides a number of different ways to organize your lists,
depending on the situation.

In [41]:
# Sorting a List Permanently with the sort() Method
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [42]:
# Sorting the LIst in reverse order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [44]:
# Sorting a LIst Temporarily with the sorted() Function
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here's the original list: ")
print(cars)

print("\nHere's the sorted list: ")
print(sorted(cars))

print("\nHere's the original list again")
print(cars)

Here's the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here's the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here's the original list again
['bmw', 'audi', 'toyota', 'subaru']

In [45]:
# Printing a List in Reverse Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [46]:
# Finding the length of a List
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

### Working with List
#### Looping Through an Entire List

In [48]:
# Going through the list and printing each item in the list
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [50]:
# Looping through all the values in a list and foramtting outputs
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [51]:
# Doing something after a for loop
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

### Making/Generating Numerical Lists
Many reasons exist to store a set of numbers. For example, you’ll need to
keep track of the positions of each character in a game, and you might want
to keep track of a player’s high scores as well. In data visualizations, you'll
almost always work with sets of numbers, such as temperatures, distances,
population sizes, or latitude and longitude values, among other types of
numerical sets.
Lists are ideal for storing sets of numbers, and Python provides a number of tools to help you work efficiently with lists of numbers. Once you
understand how to use these tools effectively, your code will work well even
when your lists contain millions of items.

In [ ]:
# Using the range Function
for value in range(1, 5):
    print(value)

1
2
3
4

In [53]:
# Using the range Function
for value in range(1, 6):
    print(value)

1
2
3
4
5

In [54]:
# Using range() to Make a List of Numbers
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [55]:
#Even numbers
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [60]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
# Simple Statistics with a List of Numbers
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0] 

# minimum value/digit in the list
print(min(digits))

# maximum value/digit in the list
print(max(digits))

# total of all values/digits in the list
print(sum(digits))

0
9
45

### Working with Part of a List
Specify the index of the first and last elements you
want to work with. As with the range() function, Python stops one item
before the second index you specify. To output the first three elements
in a list, you would request indices 0 through 3, which would return elements 0, 1, and 2.

In [62]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [63]:
# Working with a part of a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:4])

['martina', 'michael', 'florence']

In [64]:
# Omitting the first index in a slice
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [65]:
# Looping through a SLice
players = ['charles', 'martina', 'michael', 'florence', 'eli']

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [66]:
# Copying a List
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

print("My favourite foods are:")
print(my_foods)

print("\nMy friend's favourite foods are:")
print(friend_foods)

My favourite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favourite foods are:
['pizza', 'falafel', 'carrot cake']

### Defining a Tuple
A tuple looks just like a list except you use parentheses instead of square
brackets. Once you define a tuple, you can access individual elements by
using each item’s index, just as you would for a list.

In [67]:
# defining a tuple
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

In [68]:
#Looping through all values in a Tuple
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

200
50

### IF Statements
how to create a more complex series of if statements to
identify when the exact conditions you want are present. You'll then apply
this concept to lists, so you'll be able to write a for loop that handles most
items in a list one way but handles certain items with specific values in a
different way.

In [69]:
cars = ['audi', 'bmw', 'sabaru', 'toyota']
for car in cars:
    if car == 'bmw':
        print(car.upper()) 
    else:
        print(car.title())

Audi
BMW
Sabaru
Toyota

### Ignoring Case when Checking for Equality
Testing for equality is case sensitive in Python.

In [70]:
car = 'Audi'
car == 'audi'

False

In [71]:
car = 'Audi'
car.lower() == 'audi'

True

In [72]:
#Checking for Inequality
requested_topping = 'mushrooms'

if requested_topping != 'anchovies':
    print("Hole the anchovies!")

Hole the anchovies!

In [73]:
answer = 17

if answer != 42:
    print("That is the not the correct answer. PLease try again!")

That is the not the correct answer. PLease try again!

In [74]:
age_0 = 22
age_1 = 18

age_0 >= 21 and age_1 >= 21

False

In [75]:
# Checking whether a Value is in a list
requested_toppings = ['mushroom', 'onions', 'pineapple']
'mushroom' in requested_toppings
'pepperoni' in requested_toppings

False

In [76]:
# Checking  Whether a Value is not a List
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'

if user not in banned_users:
    print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

In [78]:
game_active = True
can_edit = False

### Simple If Statements
if conditional_test:
    do something

In [79]:
age = 23
if age >= 22:
    print("You're old enough to drink!")

You're old enough to drink!

In [80]:
#If-else Statements
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [81]:
#The if-elif-else Chain
age = 12
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $5.")
else:
    print("Your admission cost is $10.")

Your admission cost is $5.

In [82]:
age = 12
if age < 4:
    price = 0
elif age < 18:
    price = 5
else:
    price = 10
print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.

In [83]:
#Using multiple elif blocks
age = 12
if age < 4:
    price = 0
elif age < 18:
    price = 25
elif age < 65:
    price = 40
else:
    price = 5
print('Your admission cost is $' + str(price) + ".")

Your admission cost is $25.

### Dictionaries
A dictionary in Python is a collection of key-value pairs. Each key is connected
to a value, and you can use a key to access the value associated with that key.
A key’s value can be a number, a string, a list, or even another dictionary.

In [84]:
alien_0 = {'color':'green','points':5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [85]:
#Accessing Vlaues in a Dictionary
alien_0 = {'color': 'green'}
print(alien_0['color'])

green

In [86]:
alien_0 = {'color': 'green', 'points': 5}
new_points = alien_0['points']
print("You just earned " + str(new_points) + " points!")

You just earned 5 points!

In [87]:
#Adding New key-Value Pairs
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [88]:
#Starting with an Empty Dictionary
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5

print(alien_0)

{'color': 'green', 'points': 5}

In [89]:
#Modifying Values in a Dictionary
alien_0 = {'color': 'green'}
print("The alien is " + alien_0['color'] + ".")

alien_0 = {'color': 'yellow'}
print("The alien is now " + alien_0['color'] + ".")

The alien is green.
The alien is now yellow.

In [90]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print("Original x-position: " + str(alien_0['x_position']))

#Move the alien to the right.
#Determine how far to move the alien based on its current speed.
if alien_0['speed'] == 'slow':
    x_increment = 1
elif alien_0['speed'] == 'medium':
    x_increment = 2

else:
    #This must be a fast alien.
    x_increment = 3

#Move the alien to the right.
alien_0['x_position'] += x_increment
print("New x-position: " + str(alien_0['x_position']))

Original x-position: 0
New x-position: 2

In [91]:
#Removing Key-Value Pairs
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)

del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [92]:
# A Dictionary of Similar Objects
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
    }
print("Sarah's favorite language is " + favorite_languages['sarah'].title() + ".")

Sarah's favorite language is C.

In [93]:
#Looping Through all Key-Value Pairs
user_0 = {
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi',
}

for key, value in user_0.items():
    print("\nKey: " + key)
    print("Value: " + value)

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [95]:
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
}

for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " + language.title() + ".")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.

In [97]:
#Looping Through all the Keys in a Dictionary
favourite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python', 
}

for name in sorted(favourite_languages.keys()):
    print(name.title() + ", thank you for taking the poll.")

Edward, thank you for taking the poll.
Jen, thank you for taking the poll.
Phil, thank you for taking the poll.
Sarah, thank you for taking the poll.

In [99]:
#Looping through all values in a Dictionary
favorite_languages = {
    'jen': 'python',
    'sarah': 'c',
    'edward': 'ruby',
    'phil': 'python',
}
print("The following languages have been mentioned:")
for language in (favorite_languages.values()):   
    print(language.title())

The following languages have been mentioned:
Python
C
Ruby
Python

In [100]:
#Nesting
# A list of Dicitionaries
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

aliens = [alien_0, alien_1, alien_2]
for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [101]:
#Make an empty list for storing aliens.
aliens = []

#Make 30 green aliens.
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

#Show the first 5 aliens.
for alien in aliens[:5]:
    print(alien)
print("...")

#Show how many aliens have been created.
print("Total number of aliens: " + str(len(aliens)))

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
Total number of aliens: 30

In [102]:
# A list in a Dictionary
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese'],
}

# SUmmarize the order
print("You ordered a " + pizza['crust'] + "-crust pizza " +
      "with the following toppings:")
for topping in pizza['toppings']:
    print("\t" + topping)

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [103]:
#A Dictionary in a Dictionary
users = {
    'aeinstein': {
        'first': 'albert',
        'last': 'einstein',
        'location': 'princeton',
    },
    'mcurie': {
        'first': 'marie',
        'last': 'curie',
        'location': 'paris',
    },
}

for username, user_info in users.items():
    print("\nUsername: " + username)
    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']

    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris