# Python for Data Engineering

### Introduction
Introduction to Python programming for beginners.
- Basic Syntax
- Variables
- Data Types
- Functions
- OOP

In [2]:
message = "Hello, Data Engineering!"
print(message)

Hello, Data Engineering!

In [3]:
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [4]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

### String Concatenation

In [5]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name.title())

Ada Lovelace

### Adding Whitespace to Strings with Tabs or Newlines

In programming, whitespace refers to any nonprinting character, such as
spaces, tabs, and end-of-line symbols. You can use whitespace to organize
your output so it’s easier for users to read.
- To add a tab to your text, use the character combination \t 
- To add a newline in a string, use the character combination \n

In [6]:
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Languages:
	Python
	C
	JavaScript

### Stripping Whitespace 
Extra whitespace can be confusing in your programs. To programmers
‘python’ and ‘python ' look pretty much the same. But to a program, they
are two different strings. Python detects the extra space in 'python ' and
considers it significant unless you tell it otherwise. Python can look for extra whitespace on the right and left sides of a string. To ensure that no whitespace exists at the right end of a string, use
the rstrip() method.

In [7]:
favourite_language = "python "

print(favourite_language.rstrip())

python

### Numbers
Numbers are used quite often in programming to keep score in games, represent data in visualizations, store information in web applications, and so
on. Python treats numbers in several different ways, depending on how they
are being used.

#### Integers 
You can add (+), subtract (-), multiply (*), and divide (/) integers in Python.

In [12]:
## Addition
2 + 3

5

In [13]:
## Subtraction
3-2

1

In [14]:
## Multiplication
2 * 3

6

In [15]:
## Division
3 /2

1.5

In [16]:
## Exponent
3 ** 2

9

Python supports the order of operations too, so you can use multiple
operations in one expression. You can also use parentheses to modify the
order of operations so Python can evaluate your expression in the order
you specify.

In [17]:
2 + 3*4 - 6 / 3

12.0

#### Floats
Python calls any number with a decimal point a float. This term is used in most programming languages, and it refers to the fact that a decimal point can appear at any position in a number.

In [18]:
0.1 + 0.1

0.2

In [21]:
0.2 + 1

1.2

In [20]:
2 * 0.1

0.2

### Avoiding Type Errors with the str() Function
Often, you'll want to use a variable’s value within a message.

In [22]:
age = 23
message = "Happy " + str(age) + "rd Birthday!"
print(message)

Happy 23rd Birthday!

### Lists
A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0-9, or the names of
all the people in your family.

In [23]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### Accessing Elements in a List 
Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index, of the item desired. To access an element in a list, write the name of the list followed by the index of the item
enclosed in square brackets.

In [25]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

#### Index Positions Start at 0, Not 1 
Python considers the first item in a list to be at position 0, not position 1,
This is true of most programming languages, and the reason has to do with
how the list operations are implemented at a lower level. If you’re receiving
unexpected results, determine whether you are making a simple off-by-one
error.
The second item in a list has an index of 1. Using this simple counting
system, you can get any element you want from a list by subtracting one
from its position in the list. For instance, to access the fourth item in a list,
you request the item at index 3.

In [26]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [27]:
# Returning the last element in a list
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [29]:
# Using individual Values from a List
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0].title() + "."
print(message)

My first bicycle was a Trek.

### Modifying Elements in a List
The syntax for modifying an element is similar to the syntax for accessing
an element in a list. To change an element, use the name of the list followed
by the index of the element you want to change, and then provide the new
value you want that item to have.

In [31]:
# Changing Value of the first item of a list
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [32]:
# Adding elements to a List
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [33]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
# Inserting Elements into a List (Positions)
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [35]:
# Removing Elements from a list
# Removing an Item Using the del Statement
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

In [36]:
# Removing an Item Using the pop() Method
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [38]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print("The last motorcycle I owned was a " + last_owned.title() + ".")

The last motorcycle I owned was a Suzuki.

In [39]:
# Popping Items from any Position in a List
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print("The first motorcycle I owned was a " + first_owned.title() + ".")

The first motorcycle I owned was a Honda.

In [40]:
# Removing an Item by Value
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

### Organizing a List
Often, your lists will be created in an unpredictable order, because you can’t
always control the order in which your users provide their data. Although
this is unavoidable in most circumstances, you'll frequently want to present
your information in a particular order. Sometimes you'll want to preserve the
original order of your list, and other times you'll want to change the original order. Python provides a number of different ways to organize your lists,
depending on the situation.

In [41]:
# Sorting a List Permanently with the sort() Method
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [42]:
# Sorting the LIst in reverse order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [44]:
# Sorting a LIst Temporarily with the sorted() Function
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here's the original list: ")
print(cars)

print("\nHere's the sorted list: ")
print(sorted(cars))

print("\nHere's the original list again")
print(cars)

Here's the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here's the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here's the original list again
['bmw', 'audi', 'toyota', 'subaru']

In [45]:
# Printing a List in Reverse Order
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [46]:
# Finding the length of a List
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

### Working with List